* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}


a {
    color: #222; /* Text color */
    text-decoration: none; 
    position: relative; 
    margin: 10px, 0;
}

a::after {
    content: ''; 
    position: absolute; 
    bottom: -3px; 
    left: 0;
    width: 0; /* Start with no width */
    height: 1px; /* Height of underline */
    background-color: #222; 
}


p {
    line-height: 1.5em;
    
}

ul {
    list-style: none;
}


html {
    scroll-behavior: smooth;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    /* width: 90%; */
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

.header {
    flex: 1;
    margin: 10% 0;
    justify-content: center;
}


.intro h1 {
    text-align: left;
    font-size: 3rem;
}

.intro h2 {
    text-align: left;
    font-size: 2rem;
    color: gray;
}

.intro p {
    padding-top: 10px;
}

.init-section {
    margin-top: 5rem;
}

.hover-underline {
    position: relative;
    display: inline-block; /* Ensure it fits the text width */
    text-decoration: none; /* Remove default underline */
}

.hover-underline::before {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px; 
    background-color: black; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease; 
}

.hover-underline:hover::before {
    transform: scaleX(1); 
    transform-origin: bottom left; 
}

.navbar-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.navbar-contents-init {
    justify-content: space-around;
    align-items: center;
}

.about-section {
    flex: 1;
    text-align: center;
}

.about-section p {
    margin: 10px 0;
}

.project-title-wrapper {
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    text-wrap: nowrap;
}

.project-title {
    display: inline-block;
    height: 30px;
    width: 60%;
}


.github-link {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-bottom: 2px solid black; /* Adjust the color and thickness as needed */
    text-align: center;
}

.github-link img {
    height: 100%;
    width: 100%;
}

.feature-duration p {
    margin: 0;
}

.button-27,
.button-27a {
  appearance: none;
  background-color: inherit;
  border: 1px solid #333;
  border-radius: 15px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27a {
    width: 137.675px;
}

.button-27:disabled,
.button-27a:disabled {
  pointer-events: none;
}

.button-27:hover,
.button-27a:hover {
  outline: none;
  background-color: #333;
  color: white;
  border: 1px solid #333; 
  transform: translateY(-2px);
}

.button-27:active,
.button-27a:active {
  outline: none;
  background-color: #333;
  color: white;
  border: 1px solid #333; 
  transform: translateY(-2px);
}

.line-horizontal {
    flex: 1;
    height: 1px;
    background-color: #222;
    margin: 0 auto;
    width: 70%;
    
}

.line-vertical {
    width: 1px;
    height: 250px;
    background-color: #222;
    margin: 10px 0;
    padding: 0px;
}

.project-content,
.experience-content,
.others-content {
    display: none;
}

.project-content.show,
.experience-content.show,
.others-content.show {
    display: block;
    border-width: 1px;
}

.project-content ul,
.experience-content ul,
.others-content ul {
    list-style-type: none; 
    padding-left: 0;
}

.about-h li,
.project-content li,
.experience-content li,
.others-content li {
    position: relative;
    padding-left: 20px; 
}

.project-content li::before,
.experience-content li::before,
.others-content li::before {
    content: '▹'; 
    position: absolute;
    left: 0; 
    transform: translateY(-15%); 
    font-size: 1.2em; 
    color: #222; 
}

.item-box {
    padding: 10px 15px 10px 15px; 
    border-radius: 25px; 
    border: 1px solid black;
    margin-bottom: 25px;
}

.item-box p {
    margin: 0; 
    font-size: 0.95rem;
    line-height: 1.8;
    padding: 0;
}

.skills {
    gap:15px;
}

.collapsible {
    background-color: inherit;  
    color: #333; 
    width: 95%;
    padding: 1rem 2rem;
    cursor: pointer;
    border: 1px solid #222;  
    border-radius: 15px;
    text-align: center;
    position: relative;  
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.collapsible:hover {
    content: '\25BC';
    color: #fff;
    background-color: #333;
    transform: scaleY(1);
}

.collapsible::after {
    content: '\25BC'; 
    font-size: 1.2em;
    color: #333;
    position: absolute;
    right: 1em;  
    top: 50%;
    transform: translateY(-50%);
    transition: transform 300ms cubic-bezier(.23, 1, 0.32, 1);
} 


.content {
max-height: 0;
width: 90%;
text-align: center;
margin: 0 auto;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: inherit;
}


.button-28 {
  appearance: none;
  background-color: transparent;
  border: 1px solid #1A1A1A;
  border-radius: 15px;
  padding: 1rem 2rem;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  line-height: normal;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.7, 0, .3, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: 70%;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #333;
  transform: scaleY(1); 
}

.resume-btn {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin: 20% 0;
  }
  


  .footer-content {
    font-size: 0.8em;
    background-color: #222; 
    padding: 20px;          
    border-top-left-radius: 15px;  
    border-top-right-radius: 15px; 
    text-align: center;  
}

.footer-content p {
    display: inline-block;
    background-color: #222;
    color: white;
    
}


@media only screen and (max-width: 550px) {
    body {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
    }

    .content-wrapper,
    .main-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .about-h {
        background-color: inherit;
        font-size: 0.8rem;
        text-align: center;
    }

    .about-h li {
        padding: 0;
    }

    .intro {
        line-height: 1;
    }

    .intro p {
        font-size: 0.9rem;
        padding-left: 0;
        text-align: center;

    }
    
    .intro h1{
        font-size: 3rem;
        font-weight: 600;
        text-align: center;

    }


    .intro h2{
        margin-top: 15px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        margin-bottom: 1rem;

    }

    .header {
        margin: 0;
    }   

    .resume-btn {
        margin: 0;
    }

    .others-btn {
        margin: 20% 0;
        align-content: center;
    }


    .skills {
        align-items: center;
        justify-content: center;
        padding: 5em 0;
    }

    .skills p{
        text-align: center;
        font-size: 2.5em;
        padding: 1em 0;
    }

    .collapsible {
        width: 100%;
        padding: 1em 2em;
        font-weight: 500;
    }

    .resume-btn {
        margin-bottom: 1em;
    }

    .navbar-contents,
    .navbar-contents-init {
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em 0;
    }

    .intro {
        margin: 10% 0;
    }

    .button-27 {
    border: 2px solid #222;
    font-size: 1em;
    font-weight: 500;
    min-height: 3em;
    padding: 1em 2em;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }

    .button-27a {
    border: 2px solid #222;
    font-size: 1em;
    font-weight: 500;
    min-height: 3em;
    padding: 1em 2em;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 130px;
    }

    .main-wrapper h1 {
        font-size: 1.5rem;
    }

    .init-section {
        margin: 10% 0;
    }

    .init-section h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: 400;
        padding: 1em 0;
    }

    .project-title-wrapper {
        margin-bottom: 30px;
    }
    
    .project-content li {
        line-height: 1.6;
        font-size: 0.8rem;
        margin-bottom: 8px;
    }

    .experience-content li {
        line-height: 1.6;
        font-size: 0.8rem;
        margin-bottom: 8px;
    }
}


@media only screen and (min-width: 550px) and (max-width: 800px) {
    body {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }

    .content-wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .main-wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .intro {
        line-height: 1;
    }

    .intro p {
        font-size: 0.9rem;
        padding-left: 0;
        text-align: center;

    }
    
    .intro h1{
        font-size: 4rem;
        font-weight: 600;
        text-align: center;

    }

    .intro h2{
        margin-top: 15px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 5rem;
        text-align: center;

    }

    .header {
        margin-top: 2em;
    }   

    .about-section section {
        align-items: center;
    }

    .skills {
        align-items: center;
        justify-content: center;
        padding: 5em 0;
    }

    .skills p{
        text-align: center;
        font-size: 2.5em;
        padding: 1em 0;
    }

    .collapsible {
        width: 100%;
        padding: 1em 2em;
        font-weight: 500;
    }

    .resume-btn {
        margin: 2em 0;
    }

    .navbar-contents,
    .navbar-contents-init {
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
    margin: 1em 0;
    }

    .about-h li {
        padding: 0;
    }

    .intro {
        margin: 10% 0;
    }

    .button-27,
    .button-27a {
    border: 2px solid #222;
    font-size: 0.9em;
    font-weight: 500;
    min-height: 3em;
    padding: 1em 2em;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }

    .main-wrapper h1 {
        font-size: 1.5rem;
    }

    .init-section {
        margin: 10% 0;
    }

    .init-section h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: 400;
        padding: 1em 0;
    }

    .project-title-wrapper {
        margin-bottom: 30px;
    }

    .project-title-wrapper h3{
        text-align: center;
    }
    
    .project-content li {
        line-height: 1.6;
        font-size: 0.8rem;
        margin-bottom: 8px;
    }

    .experience-content li {
        line-height: 1.6;
        font-size: 0.8rem;
        margin-bottom: 8px;
    }

    .project-content {
        width: 80%;
        margin: 0 auto;
    }

    .experience-content {
        width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    body {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .content-wrapper {
        width: 70%;
        margin: 0 auto;
    }

    .main-wrapper {
        width: 85%;
        margin: 0 auto;
    }

    .intro {
        line-height: 1;
    }

    .intro p {
        font-size: 0.9rem;
        padding-left: 0;
        text-align: center;

    }
    
    .intro h1{
        font-size: 4rem;
        font-weight: 600;
        text-align: center;

    }

    .intro h2{
        margin-top: 15px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 5rem;
        text-align: center;

    }

    .header {
        margin-top: 2em;
    }   

    .about-section section {
        align-items: center;
    }

    .skills {
        align-items: center;
        justify-content: center;
        padding: 5em 0;
    }

    .skills p{
        text-align: center;
        font-size: 2.5em;
        padding: 1em 0;
    }

    .collapsible {
        width: 100%;
        padding: 1em 2em;
        font-weight: 500;
    }

    .resume-btn {
        margin: 2em 0;
    }

    .navbar-contents,
    .navbar-contents-init {
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
    margin: 1em 0;
    }

    .intro {
        margin: 10% 0;
    }

    .project-content section {
        text-align: center;
    }

    .experience-content section {
        text-align: center;
    }
    
    .project-title-wrapper {
        justify-content: center;
        font-size: 0.9rem;
    }

    .button-27,
    .button-27a {
    border: 2px solid #222;
    font-size: 0.9em;
    font-weight: 500;
    min-height: 3em;
    padding: 1em 2em;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }

    .main-wrapper h1 {
        font-size: 1.5rem;
    }

    .init-section {
        margin: 10% 0;
    }

    .init-section h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: 400;
        padding: 1em 0;
    }

    .footer-content p {
        max-width: 60%;
    }

    .project-content li {
        text-align: center;
        line-height: 1.6;
        font-size: 0.8rem;
        margin-bottom: 8px;
    }

    .experience-content li {
        line-height: 1.6;
        font-size: 0.8rem;
        margin-bottom: 8px;
    }
    
    .project-content {
        width: 80%;
        margin: 0 auto;
    }

    .experience-content {
        width: 80%;
        margin: 0 auto;
    }

    .about-h li {
        padding: 0;
    }


}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .content-wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .main-wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .header {
        margin: 0;
    }

    .intro {
        line-height: 1;
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 10% 0 0 0;
    }

    .intro-h {
        flex: 1;
    }
    
    .intro-h h1 {
        font-size: 4em;
        font-weight: 600;
        line-height: 1;
    }

    .intro-h h2 {
        display: block;
        width: 80%;
        margin-top: 1.5rem;
        font-size: 2em;
        font-weight: 500;
        line-height: 1.2;
    }

    .about-h {
        flex: 1;
    }

    .about-h li::before{
        font-size: 3rem; 
    }
    

    .skills {
        align-items: center;
        justify-content: center;
        padding: 5em 0;
    }

    .skills p{
        text-align: center;
        font-size: 2.5em;
        padding: 1em 0;
    }

    .collapsible {
        width: 100%;
        padding: 1em 2em;
        font-weight: 500;
    }

    .others-btn{
        margin: 5% 0;
        gap: 5px
    }

    .resume-btn {
        flex: 1; 
        justify-content: left; 
        text-align: center; 
        margin: 0;
      }

    .navbar-contents,
    .navbar-contents-init {
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
    margin: 1em 0;
    }


    .button-27,
    .button-27a {
    font-size: 0.9em;
    font-weight: 500;
    min-height: 3em;
    padding: 1em 2em;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    }

    .main-wrapper h1 {
        font-size: 1.5rem;
    }

    .init-section {
        margin: 10% 0;
    }

    .init-section h1 {
        text-align: center;
        font-size: 2.5em;
        font-weight: 400;
        padding: 1em 0;
    }

    .feature-duration {
        text-align: left;
    }

    .feature-duration p{
        text-align: left;
        margin-left: 0;
    }

    .project-content {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;
        line-height: 2;
    }

    .experience-content{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;
        line-height: 2;
    }

    .project-content li{
        margin: 1.5rem 0;
        line-height: 1.5;
    }

    .experience-content li{
        margin: 1.5rem 0;
        line-height: 1.5;
    }

    .footer-content p {
        max-width: 60%;
    }

    .bright-side {
        display: none;
    }

    .navbar-contents,
    .navbar-contents-init {
    justify-content: center;
    gap: 2em;
    }

}
