{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jaswanth</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="content-wrapper margin-center">
        <div class="flex-column header">
                <div class="intro">
                    <div class="intro-h">
                        <div>
                            <h1>Hey there,</h1>
                            <h1>I'm Jaswanth.</h1>
                            <h2>I like to build algorithms.</h2>
                        </div>
                        <div class="others-btn flex flex-column">
                            <div class="resume-btn">
                                <a href="{% static 'pdfs/Jaswanth_resume.pdf' %}" target="_blank" class="button-28">Check out my Resume</a>
                            </div>
                            <!-- <div class="resume-btn">
                                <a href="{%url 'blogs'%}" target="_self" class="button-28">Blogs</a>
                            </div> -->
                            <!-- <div class="resume-btn">
                                <button class="button-28" id="myInput" onclick="copyEmail()">Copy Email</button>
                            </div> -->
                        </div>
                    </div>
                    <div class="about-h">
                        <ul>
                            <li>
                                <div class="item-box">
                                    <p><strong>The world of algorithms fascinates me.</strong> Computers rely on billions of transistors acting as tiny switches but there is so much more happening beneath the surface. The blend of fundamental logic and intricate reasoning is truly inspiring.</p>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <p><strong>This fascination grew when I discovered machine learning.</strong> Algorithms evolved from rigid instructions to systems that can learn, evaluate, and adapt from mistakes. This complexity is thrilling and opens up vast possibilities.</p>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <p><strong>As Richard Feynman said, <i>"What I cannot create, I do not understand."</i></strong> I focus on developing practical algorithms that drive results. It's not just about perfection but about making sure my creations work seamlessly to solve real-world problems and deliver tangible outcomes.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="main-wrapper">
            <div class="skills flex flex-column">
                <p>Few skills I've picked up.</p>
                <span class="collapsible">Machine Learning Libraries</span>
                <div class="content">
                    <ul>
                        <li>NumPy</li>
                        <li>Pandas</li>
                        <li>PyTorch</li>
                        <li>Keras</li>
                        <li>Scikit-learn</li>
                    </ul>
                </div>
                <span class="collapsible">Deep Learning Concepts</span>
                <div class="content">
                    <ul>
                        <li>Convolutional Neural Networks (CNNs)</li>
                        <li>Recurrent Neural Networks (RNNs)</li>
                        <li>Natural Language Processing (NLP)</li>
                        <li>Generative Adversarial Networks (GANs)</li>
                    </ul>
                </div>
                <span class="collapsible">Visualization</span>
                <div class="content">
                    <ul>
                        <li>Power BI</li>
                        <li>Tableau</li>
                        <li>Matplotlib</li>
                        <li>Seaborn</li>
                    </ul>
                </div>
            </div>
            <main class="flex-column">
                <section>
                    <div class="init-section">
                        <h1>Notable Initiatives</h1>
                        <div class="navbar">
                            <ul class="navbar-contents flex-row">
                                <li><span id="project-btn" class="button-27a">Projects</span></li>
                                <li><span id="experience-btn" class="button-27a">Experience</span></li>
                            </ul>
                        </div>
                        <div class="navbar-init">
                            <ul class="navbar-contents-init flex-row"></ul>
                        </div>
                        <div class="line-horizontal"></div>
                        <!-- Project-content -->
                        <div class="project-content">
                            <section class="flex flex-column">
                                <div class="flex-row project-title-wrapper">
                                    <div class="project-title">
                                        <h3><a href="https://github.com/jswnthh/ML_projects/blob/main/cycle-gan-issa-painter.ipynb"><u>Generative Adversarial Networks &#8599</u></a></h3>
                                    </div>
                                </div>
                                <ul>
                                    <li>Developed and implemented <strong>CycleGAN</strong> to generate <strong>7000 to 10000 Monet style images</strong> demonstrating expertise in Deep Learning and Image Synthesis.</li>
                                    <li>Optimized model performance through iterative experimentation with model evaluation metrics and techniques, achieving a balance between image quality and computational efficiency</li>
                                    <li>Utilized Python and <strong>Pytorch</strong> to construct a robust CycleGAN consisting of a generator and discriminator (image recognition) neural network models, achieving high-fidelity replication of Monet’s artistic style</li>
                                </ul>
                            </section>
                        </div>
                        <div class="project-content">
                            <section class="flex flex-column">
                                <div class="flex-row project-title-wrapper">
                                    <div class="project-title">
                                        <h3><a href="https://github.com/jswnthh/ML_projects/blob/main/NLP_Disaster_tweets.ipynb"><u>Sentiment Analysis using Disaster Tweets &#8599</u></a></h3>
                                    </div>
                                </div>
                                <ul>
                                    <li>Developed scalable Machine Learning Pipeline combining <strong>TF-IDF Vectorization</strong> for Text Processing and for <strong>Logistic Regression</strong> Text Classification.</li>
                                    <li>Researched and Applied <strong>Attention mask</strong> to the TF-IDF Vectorization to enhance performance.</li>
                                    <li>Hypertuned and Refined the Model to get the maximum f1-score (+77), updated in Kaggle.</li>
                                    <li>Applied advanced deep learning techniques using pretrained models from HuggingFace, including <strong>DistilBERT and LSTM</strong>, to further improve sentiment analysis accuracy.</li>
                                </ul>
                            </section>
                        </div>
                        <div class="project-content">
                            <section class="flex flex-column">
                                <div class="flex-row project-title-wrapper">
                                    <div class="project-title">
                                        <h3><a href="https://github.com/jswnthh/Biomimetic-way-to-pathfinding"> <u>Biomimicry - PathFinding &#8599</u></a></h3>
                                    </div>
                                </div>
                                <ul>
                                    <li>Exhibited a fervor for <strong>crafting modular, scalable, and bug-free Python code (+600 Lines Of Code)</strong> using <strong>Pygame framework</strong>.</li>
                                    <li>Built reusable components (over 150), promoting code reusability and fostering efficient development.</li>
                                    <li>Utilized techniques from computer vision and <strong>swarm intelligence</strong> to empower components with decentralized decision-making capabilities for dynamic and adaptable systems.</li>
                                    <li>Optimized Pathfinding for Efficiency: Achieved path construction in obstacle-based terrain within <strong>approximately 42 seconds</strong>, demonstrating efficiency in code optimization.</li>
                                </ul>
                            </section>
                        </div>
                        <!-- experience-content -->
                        <div class="experience-content">
                            <section class="flex flex-column">
                                <div class="flex-column project-title-wrapper">
                                    <div class="project-title">
                                        <h3><span><a href="https://github.com/jswnthh/Toolfe_projects_ML"><u>Data Analyst</u></a><a href="https://toolfe.com/"><u>@ Toolfe &#8599</u></a></span></h3>
                                    </div>
                                    <div class="feature-duration">
                                        <p>June 2023 - Aug 2023</p>
                                    </div>
                                </div>
                                <ul>
                                    <li>Developed a <strong>Credit Risk Model: Achieved Recall Scores up to 80%</strong> on different Models including Pipelines</li>
                                    <li>Worked with Advanced Machine Learning Algorithms: <strong>Decision trees, Support Vector Machines, Random forests.</strong></li>
                                    <li>Optimized Model Performance: Utilizing <strong>Hyperparameters, Cross Validations</strong> Combinatorics, Data Preprocessing and Cleaning.</li>
                                    <li>Communicated technical findings effectively, utilizing data visualization for clarity and thorough Documentations with Proof of Concept</li>
                                    <li>Demonstrated <strong>Communicative skills</strong> by Authoring Blogs (+15) on Web Analytics and its current trends, Tools and Technology in automation</li>
                                </ul>
                            </section>
                        </div>
                        <!-- others-content -->
                        <div class="others-content">
                            <ul>
                                <li><strong>First prize recipient</strong>, paper presentation - <strong>Ethiraj college</strong>. "Biomimetic Approach for Pathfinding"</li>
                                <li><strong>Third prize recipient</strong>, paper presentation and documentation - <strong>SRM UNIVERSITY</strong>. "Bioinspired Pathfinding".</li>
                                <li>Participated, <strong>National conference on AI powered Social Media - NCAISMM</strong>.</li>
                                <li>Hosted the <strong>eTOTAL 2023 International Event</strong> - Associated with State Project <strong>RUSA</strong></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <div class="footer">
                    <footer class="footer-content">
                        <p>This portfolio is loosely designed using Figma. Tech stack includes Python-Django, HTML/CSS, JavaScript and deployed on render.</p>
                    </footer>
                </div>
            </main>
        </div>

    </div>

    <script type="text/javascript" src="{% static 'js/content.js' %}"></script>
</body>
</html>
